*{
    border: 1px solid black;
}

body{
    background-color: rgb(209, 119, 209);
}

.hello{
    display: flex;
    justify-content: center;
    color: aquamarine;
}

.greeting{
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 200px;
}

.name{
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-box{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
}